.Dashboardscreendata {
  width: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #516F91;
  margin-bottom: 30px;
}

.content {
  position: relative;
  width: 581.06px;
}

.backAIimage {
  height: 330.16px;
  width: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 50px;
  right: 30px;
  width: 89.9%;
  border-radius: 20px;
  height: 81%;
  background-color: rgba(4, 19, 22, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-overlay {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}

.text-overlay p {
  margin: 0;
  padding: 10px 0;
  line-height: 28px;
}

.connectbutton {
  position: absolute;
  margin-top: 350px;
  left: 30px;
  font-size: 12px;
  height: 45.75px;
  width: 125px;
  color: white;
  background-color: #274C77;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.notificationbox {
  flex-direction: column;
  display: flex;
  background-color: #F8F8FB;
  padding: 10px;
  border-radius: 10px;
  width: 350px;
  position: absolute;
  top: 100px;
  right: 60px;
}

.notification-item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #274C77;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.inner-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #47b370;
}

.square {
  flex: 1;
  height: 40px;
  background-color: #dde8ef;
  display: flex;
  align-items: center;
  border: 1px solid #BFBFBF;
  border-radius: 10px;
  padding: 5px;
 justify-content: space-between;
}

.notification-text {
  color: #333; 
  font-size: 14px;
  margin-left: 20px;
}
.notification-time {
  color: #333; 
  font-size: 10px;
  
}

